body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.gridItem{
    padding: 20px;
    border-radius: 2px;
    display: flex;
    place-items: center;
    background-color: hotpink;
    font-size: 35px;
}
.hidden{
    display: none;
}
.bold{
    font-weight: bold;
}
#fullGrid{
    display: block;
    font-size: 90px;
}
#winningMessage{
    display: flexbox;
    font-size: 100px;
}